@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(65, 65, 65);
}

.btn{
    text-decoration: none;
    transition-duration: .5s;
    cursor: pointer;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    color: rgb(65, 65, 65);
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(190, 160, 243);
    border-color: rgb(190, 160, 243);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow:
    0.1px 0.1px 1.6px rgba(0, 0, 0, 0.022),
    0.2px 0.2px 3.6px rgba(0, 0, 0, 0.031),
    0.4px 0.4px 6.3px rgba(0, 0, 0, 0.039),
    0.6px 0.6px 10px rgba(0, 0, 0, 0.045),
    1px 1px 15.5px rgba(0, 0, 0, 0.051),
    1.5px 1.5px 24.1px rgba(0, 0, 0, 0.059),
    2.5px 2.5px 40px rgba(0, 0, 0, 0.068),
    5px 5px 80px rgba(0, 0, 0, 0.09);
}

.btn:hover {
    border-color: rgb(180, 180, 180);
    background-color: rgb(180, 180, 180);
    color: white
}

.headerTop {
    font-size: 50px;
    color: rgb(65, 65, 65);
    padding: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(190, 160, 243);
    box-shadow:
    0.1px 0.1px 1.6px rgba(0, 0, 0, 0.022),
    0.2px 0.2px 3.6px rgba(0, 0, 0, 0.031),
    0.4px 0.4px 6.3px rgba(0, 0, 0, 0.039),
    0.6px 0.6px 10px rgba(0, 0, 0, 0.045),
    1px 1px 15.5px rgba(0, 0, 0, 0.051),
    1.5px 1.5px 24.1px rgba(0, 0, 0, 0.059),
    2.5px 2.5px 40px rgba(0, 0, 0, 0.068),
    5px 5px 80px rgba(0, 0, 0, 0.09);
}

.timesLeft {
    width: 350px;
    height: 60px;
    transition-duration: .5s;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    color: rgb(65, 65, 65);
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(190, 160, 243);
    border-color: rgb(190, 160, 243);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow:
    0.1px 0.1px 1.6px rgba(0, 0, 0, 0.022),
    0.2px 0.2px 3.6px rgba(0, 0, 0, 0.031),
    0.4px 0.4px 6.3px rgba(0, 0, 0, 0.039),
    0.6px 0.6px 10px rgba(0, 0, 0, 0.045),
    1px 1px 15.5px rgba(0, 0, 0, 0.051),
    1.5px 1.5px 24.1px rgba(0, 0, 0, 0.059),
    2.5px 2.5px 40px rgba(0, 0, 0, 0.068),
    5px 5px 80px rgba(0, 0, 0, 0.09);
}

.box-top {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-content {
    padding: 40px;
    background-color: rgb(90, 90, 90);
    border-color: rgb(90, 90, 90);
    margin: 100px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.boxMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxMain {
    padding: 40px;
    border-radius: 16px;
    background-color: rgb(140, 140, 140);
    margin-top: 40px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.intro {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    opacity: 1;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.introHidden {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    transition: 1s ease;
    opacity: 0;
    text-align: center;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.quiz {
    margin-top: 30px;
    padding: 30px;
    opacity: 1;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.quizHidden {
    opacity: 0;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.question {
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: rgb(190, 160, 243);
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.choices {
    width: 80%;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgb(190, 160, 243);
    border-color: rgb(190, 160, 243);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.choices:hover {
    cursor: pointer;
    color: rgb(190, 160, 243);
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
    border-radius: 8px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.choicesRender {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}